extends layout.jade
block main
    h1 E&O
    #gameArea
        table#grid
            tr(ng-repeat="row in map track by $index")
                td(ng-repeat="cell in row track by $index", class="{{cell===null?'empty':(cell%2==0?'even':'odd')}}") {{cell}}
                //({{$parent.$index}}, {{$index}})
        .numbers
            span(class="hand even", ng-repeat="num in evenNumbers track by $index") {{num}}
        .numbers
            span(class="hand odd", ng-repeat="num in oddNumbers track by $index") {{num}}
    #side
        form(ng-submit="sendMessage()")
            input#inputMessage(ng-model="textInput", type="text")
            input(type="submit", value="send")
        ul#messages
            li(ng-repeat="msg in messages") {{msg}}
