doctype html
html
    head
        link(href="/css/main.css", rel="stylesheet", type="text/css")
        script(src="/js/lib/jquery-1.11.2.min.js")
        title evo
    body
        block main
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")