doctype html
html
    head
        link(href='/css/main.css', rel='stylesheet', type='text/css')
        title evo
    body
        block main
        script(src='/socket.io/socket.io.js')
        script(src='/js/main.js')