* {
    font-family:  "Open Sans", sans-serif;
    color: #555555;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

#main {
    width: 800px;
    margin: 0 auto;
}

#gameArea {
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

#grid{
    background-color: silver;
    border: 4px solid silver;
    border-radius: 10px;
    margin-bottom: 30px;
}

#grid td {
    border: 2px solid silver;
    margin: 0;
    height: 90px;
    width: 90px;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#side {
    float: left;
    width: 260px;
    margin: 0 20px;
}

#messages {
    list-style: none;
    padding-left: 0;
}

#messages li {
    margin-bottom: 10px;
}

#grid td.empty{
    background-color: whitesmoke;
}

#grid td.epmty:hover {
    background-color: antiquewhite;
}

.numbers {
    margin-top: 10px;
}

.numbers .hand {
    display: inline-block;
    border: 3px solid silver;
    margin-right: 8px;
    line-height: 70px;
    height: 70px;
    width: 70px;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.hand:hover{
    border: 3px solid gray;
}

.even{
    background-color: lightsalmon;
}

.odd{
    background-color: lightskyblue;
}